<!--<ul>-->
  <!--<li>I can make lists</li>-->
  <!--<li>Vanilla is cool!</li>-->
  <!--<li><img id="angPicHere" src="https://cdn-images-1.medium.com/max/2000/1*plgkFP7kur5KTJKHRGqsyg.png" onclick="TestComponent.changePic()"></li>-->
<!--</ul>-->
<mat-card>Simple card</mat-card>
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>My Characters</span>
    <mat-icon class="example-icon">favorite</mat-icon>
    <mat-icon class="example-icon">delete</mat-icon>
  </mat-toolbar-row>

  <!--<mat-toolbar-row>-->
    <!--<span>Second Line</span>-->
    <!--<span class="example-spacer"></span>-->
    <!--<mat-icon class="example-icon">verified_user</mat-icon>-->
  <!--</mat-toolbar-row>-->

  <!--<mat-toolbar-row>-->
    <!--<span>Third Line</span>-->
    <!--<span class="example-spacer"></span>-->
    <!--<mat-icon class="example-icon">favorite</mat-icon>-->
    <!--<mat-icon class="example-icon">delete</mat-icon>-->
  <!--</mat-toolbar-row>-->
</mat-toolbar>
